{% extends 'master.html' %}
{% block body %}
<section id="cart_items">
		<div class="container">
			<div class="breadcrumbs">
				<ol class="breadcrumb">
				  <li class="active">Đơn Hàng</li>
				</ol>
			</div>
			<div class="table-responsive cart_info">
				<table class="table table-condensed">
					<thead>
						<tr class="cart_menu">
							<td class="image">Bìa Sách</td>
							<td class="description">Tên Sách</td>
							<td class="price">Giá Thành</td>
							<td class="quantity">Số Lượng</td>
							<td class="total">Thành Tiền</td>
							<td></td>
						</tr>
					</thead>
					<tbody>
					{% for i in order %}
						<tr>
							<td class="cart_product" style="width: 300px">
								<a href=""><img style="width: 150px" src="{{i.image}}" alt=""></a>
							</td>
							<td class="cart_description" style="width: 40%; ">
								<h4><a href="">{{i.product}}</a></h4>

							</td>
							<td class="cart_price">
								<p>{{i.price}}đ</p>
							</td>
							<td class="cart_quantity">
								<div class="cart_quantity_button">
									<p>{{i.quantity}}</p>
								</div>
							</td>
							<td class="cart_total">
								<p class="cart_total_price">{{i.total}}đ</p>
							</td>
							<td class="cart_delete">
								<a class="cart_quantity_delete" href=""><i class="fa fa-times"></i></a>
							</td>
						</tr>
						{% endfor %}

					</tbody>
				</table>
			</div>
		</div>
	</section> <!--/#cart_items-->

{% endblock%}